@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Press+Start+2P&family=Roboto&display=swap');
:root{
     --Dark-cyan: hsl(185, 75%, 39%);
--Very-dark-desaturated-blue: hsl(229, 23%, 23%);
--Dark-grayish-blue: hsl(227, 10%, 46%);
--Dark-gray: hsl(0, 0%, 59%);
}
*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

body
{
     height: 1040px;
     width: 90%;
     background-color: var(--Dark-cyan);
}
.container{
    
     display: flex;
     flex-wrap:wrap;
      justify-content: left;
}
.top-img {
    
}
.bottom-img{
     justify-content: left;
}
.img{
     height: 300px;
     width: 100%;

}
@media only screen and (max-width: 375px) /* media de mobile*/
{
body{
   
}
}

.attribution 
    { font-size: 11px;
         text-align: center;
       
    }
         .attribution a {color: hsl(228, 45%, 44%);
         } 